.Short_lines_about_how_we_work_our_process___Lor {
  font-size: 20px;
  font-family: "Raleway";
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 503.359px;
  top: 2045.9px;
  width: 426px;
  height: 80px;
  z-index: 84;
}
